.anime-card {
    background: none;
    border: none;
    margin: 10px;
    width: 150px;
}

.anime-card .card-img {
    border-radius: 8px;
    width: 100%;
}

@media (min-width:1440px) {
    .anime-card {
        margin: 15px;
        width: 200px;
    }
}

@media (min-width:1920px) {
    .anime-card {
        margin: 15px;
        width: 250px;
    }
}